In [1]:
import pandas as pd
import numpy as np

In [2]:
binanceDF = pd.read_csv('./ticketMapping20230104.csv', header=0)
binanceDF

,TokenId,Wallet,isGold,isSilver,isBronze
0,100300227506,0xe0A9e5B59701a776575fDd6257c3F89Ae362629a,0,0,1
1,100300227507,0xe0A9e5B59701a776575fDd6257c3F89Ae362629a,0,0,1
2,100300227508,0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd,0,0,1
3,100300227509,0xe0A9e5B59701a776575fDd6257c3F89Ae362629a,0,0,1
4,100300227510,0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd,0,0,1
...,...,...,...,...,...
995,100300228826,0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd,1,0,0
996,100300228830,0xe0A9e5B59701a776575fDd6257c3F89Ae362629a,1,0,0
997,100300228831,0xe0A9e5B59701a776575fDd6257c3F89Ae362629a,1,0,0
998,100300228832,0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd,1,0,0
999,100300228833,0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd,1,0,0

In [3]:
binanceDF = binanceDF.drop(['TokenId'], axis=1)
binanceDF

                                         Wallet  isGold  isSilver  isBronze
0    0xe0A9e5B59701a776575fDd6257c3F89Ae362629a       0         0         1
1    0xe0A9e5B59701a776575fDd6257c3F89Ae362629a       0         0         1
2    0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd       0         0         1
3    0xe0A9e5B59701a776575fDd6257c3F89Ae362629a       0         0         1
4    0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd       0         0         1
..                                          ...     ...       ...       ...
995  0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd       1         0         0
996  0xe0A9e5B59701a776575fDd6257c3F89Ae362629a       1         0         0
997  0xe0A9e5B59701a776575fDd6257c3F89Ae362629a       1         0         0
998  0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd       1         0         0
999  0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd       1         0         0

[1000 rows x 4 columns]

In [4]:
binanceDF['bGoldTickets'] = binanceDF.groupby(["Wallet"])["isGold"].transform("sum")
binanceDF['bSilverTickets'] = binanceDF.groupby(["Wallet"])["isSilver"].transform("sum")
binanceDF['bBronzeTickets'] = binanceDF.groupby(["Wallet"])["isBronze"].transform("sum")

In [5]:
binanceDF = binanceDF.drop(['isGold', 'isSilver', 'isBronze'], axis=1)
binanceDF = binanceDF.drop_duplicates()

In [6]:
binanceDF

,Wallet,bGoldTickets,bSilverTickets,bBronzeTickets
0,0xe0A9e5B59701a776575fDd6257c3F89Ae362629a,46,173,367
2,0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd,47,92,153
18,0x6F0c3105444e9Ad288ed64674C12420593A1Efb2,0,0,3
23,0x9c3D7aCffCfc0438b8e8446aaa5BA5a2070f05C4,0,0,1
25,0x222BeE4b15f0B4a00e55d901B8413DD35257dE22,0,0,10
...,...,...,...,...
849,0xcAC3dce2CaB052B903dA719F99Ed182bf7A22fDb,1,1,0
863,0x13F13B0074617eE2294c19cC379B3aE09D260623,0,1,0
870,0xc7b0706992380d327A54f27f0AfC1010C7cD0267,0,1,0
892,0x50ac8EfC9d8Dc9602260Bfb99D89EB280078F1c6,0,1,0
939,0x2D28b64af5f42fAb62748B10aaB94a386FA036b5,1,0,0

In [7]:
binanceDF.to_csv('ticketBinance20230104.csv', index=False)

In [8]:
binanceDF['bGoldTickets'].sum()

100

In [9]:
binanceDF['bSilverTickets'].sum()

300

In [10]:
binanceDF['bBronzeTickets'].sum()

600

In [11]:
binanceDF

,Wallet,bGoldTickets,bSilverTickets,bBronzeTickets
0,0xe0A9e5B59701a776575fDd6257c3F89Ae362629a,46,173,367
2,0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd,47,92,153
18,0x6F0c3105444e9Ad288ed64674C12420593A1Efb2,0,0,3
23,0x9c3D7aCffCfc0438b8e8446aaa5BA5a2070f05C4,0,0,1
25,0x222BeE4b15f0B4a00e55d901B8413DD35257dE22,0,0,10
...,...,...,...,...
849,0xcAC3dce2CaB052B903dA719F99Ed182bf7A22fDb,1,1,0
863,0x13F13B0074617eE2294c19cC379B3aE09D260623,0,1,0
870,0xc7b0706992380d327A54f27f0AfC1010C7cD0267,0,1,0
892,0x50ac8EfC9d8Dc9602260Bfb99D89EB280078F1c6,0,1,0
939,0x2D28b64af5f42fAb62748B10aaB94a386FA036b5,1,0,0

In [12]:
# check for ticket values counts into the receiver wallet address of the NFTReceiver contract
binanceDF[binanceDF['Wallet'] == '0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd']

,Wallet,bGoldTickets,bSilverTickets,bBronzeTickets
2,0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd,47,92,153

In [13]:
polygonTicketsDF = pd.read_csv('./ticketPolygon20230104.csv', header = 0)
polygonTicketsDF = polygonTicketsDF.drop(['pTotalCount'], axis=1)

In [14]:
polygonTicketsDF.sum()

Wallet          0x000000000000000000000000000000000000dEaD0xdE...
pGoldCount                                                     47
pSilverCount                                                   91
pBronzeCount                                                  145
dtype: object

In [15]:
mergedDF = binanceDF.merge(polygonTicketsDF, on="Wallet", how="outer")
mergedDF = mergedDF.fillna(0)
mergedDF

,Wallet,bGoldTickets,bSilverTickets,bBronzeTickets,pGoldCount,pSilverCount,pBronzeCount
0,0xe0A9e5B59701a776575fDd6257c3F89Ae362629a,46.0,173.0,367.0,0.0,0.0,0.0
1,0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd,47.0,92.0,153.0,0.0,0.0,0.0
2,0x6F0c3105444e9Ad288ed64674C12420593A1Efb2,0.0,0.0,3.0,0.0,0.0,0.0
3,0x9c3D7aCffCfc0438b8e8446aaa5BA5a2070f05C4,0.0,0.0,1.0,0.0,0.0,0.0
4,0x222BeE4b15f0B4a00e55d901B8413DD35257dE22,0.0,0.0,10.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
100,0x7262346940686eCfaDED4a28dE004F3d863b74bD,0.0,0.0,0.0,0.0,0.0,1.0
101,0xb8A90Afa005006ea760151eAf8e8C3B25d7f6ea9,0.0,0.0,0.0,1.0,0.0,0.0
102,0x053F17ba42dDb1DE8D3B7d3281B67e6174B65503,0.0,0.0,0.0,0.0,0.0,1.0
103,0x672BddBEB2741EEa3739B846CFe595D95Ce97B44,0.0,0.0,0.0,0.0,0.0,1.0
104,0xB9496a25a1DfA8DB0F076B48972c56C468B41514,0.0,0.0,0.0,0.0,0.0,1.0

In [16]:
mergedDF['goldTickets'] = mergedDF['bGoldTickets'] + mergedDF['pGoldCount']
mergedDF['silverTickets'] = mergedDF['bSilverTickets'] + mergedDF['pSilverCount']
mergedDF['bronzeTickets'] = mergedDF['bBronzeTickets'] + mergedDF['pBronzeCount']
mergedDF

,Wallet,bGoldTickets,bSilverTickets,bBronzeTickets,pGoldCount,pSilverCount,pBronzeCount,goldTickets,silverTickets,bronzeTickets
0,0xe0A9e5B59701a776575fDd6257c3F89Ae362629a,46.0,173.0,367.0,0.0,0.0,0.0,46.0,173.0,367.0
1,0x37807c47E2c9B1B1eB24FEa5FDCe710AcDCC3aAd,47.0,92.0,153.0,0.0,0.0,0.0,47.0,92.0,153.0
2,0x6F0c3105444e9Ad288ed64674C12420593A1Efb2,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0
3,0x9c3D7aCffCfc0438b8e8446aaa5BA5a2070f05C4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0x222BeE4b15f0B4a00e55d901B8413DD35257dE22,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...
100,0x7262346940686eCfaDED4a28dE004F3d863b74bD,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
101,0xb8A90Afa005006ea760151eAf8e8C3B25d7f6ea9,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
102,0x053F17ba42dDb1DE8D3B7d3281B67e6174B65503,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
103,0x672BddBEB2741EEa3739B846CFe595D95Ce97B44,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
104,0xB9496a25a1DfA8DB0F076B48972c56C468B41514,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [17]:
mergedDF.to_csv('finalTicketSnapshot20230104.csv', index=False)

In [21]:
mergedDF.sum()

Wallet            0xe0A9e5B59701a776575fDd6257c3F89Ae362629a0x37...
bGoldTickets                                                  100.0
bSilverTickets                                                300.0
bBronzeTickets                                                600.0
pGoldCount                                                     47.0
pSilverCount                                                   91.0
pBronzeCount                                                  145.0
goldTickets                                                   147.0
silverTickets                                                 391.0
bronzeTickets                                                 745.0
dtype: object